/*navigation bar*/
ul {
  list-style-type: none;
  background-color: #D1F2EB  ;
  overflow: hidden;
}

li{
  float:left;
}

li a{
  display:block;
  color: darkslateblue;
  padding: 25px;
  text-decoration:none;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.headings {
  padding: 20px;
  color:  #FF5E38;
  background-color: #F4F9FF;
  text-align: center;
  font-weight: bold;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#bigTitle{
  font-size: 150px;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: darkslategray;
}

#bigHeading {
  text-align: center;
  color: #FF5E38;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 40px;
  padding:10px;
  font-weight:700;
}

.backcolor {
   background-color: #F4F9FF;
}

#text-center {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 25px;
  font-weight: 600;
  color: #276A96;
}

.list_look {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15px;
  color:#276A96;
  padding: 30px;
}

#check_any {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15px;
  color: #33A2B0 ;
}

.checkbox {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15px;
  color:#FF8B72;
}

h2 {
  text-align: center;
}

body {

  background-size: cover;
}

#pride{
  background-image: url("pride_flag.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.dropdown  {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.panel-default > .panel-heading {
    background-color: #D1F2EB  ;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#blurbs {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: #F4F9FF;
  font-size: 15px;
  color: #FF5E38;
  padding: 25px;
}

#blurb_title {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 500;
  font-size: 20px;
  color: darkslategrey;
  padding: 15px;
}

.panel-title {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 400;
}


